<% layout("layout/boilerplate") %>

<div class="container">
    <h1 style="text-align: center; font-weight: 100; font-size:4.6vmax; margin-bottom: 2rem;" class="animate-heading">.Nirvirodh</h1>
    <form action="/login" method="POST" class="auth-form">
      <h2 style="text-align: center;">Login</h2>
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit" class="btn-hoverr">Login</button>
      <p style="text-align:center;">New here? <a href="/signup">Sign up</a></p>
  </form>

</div>
